/* ============================================================헤더 고정 */
#header-wrap {
    width:1760px;
    margin-top:25px;
    display:flex; justify-content:space-between; align-items:center;
    position:fixed; z-index:900; left:50%; transform: translateX(-50%)/* nav, a태그 중앙으로 보냄 */
}
#header-wrap nav {display:flex; gap:20px;}
#header-wrap nav a {
    padding:12px 18px;
    border-radius:50px;
    line-height:16px;
    border:1px solid transparent;
}
#header-wrap nav a.active {
    background:#FAFAFA;
    border:1px solid #3A3A3A;
}
#header-wrap > a {
    background:#3A3A3A;
    color:#fff;
    padding:12px 18px;
    border-radius:50px;
    line-height:16px;
}
/* =========================================================================================================메인 */
#wrap {height:100vh;}
#wrap .swiper-wrapper {/* cursor:pointer; */}
#wrap .swiper-wrapper .intro,
#wrap .swiper-wrapper .profile {
    background:#FAFAFA;
}
#wrap .swiper-wrapper h3 {
    font-size:1.875rem;
    font-weight:600;
}
/* ========================================================================================================= 인트로 s */
#wrap .swiper-wrapper .intro {}
#wrap .swiper-wrapper .intro img {}
#wrap .swiper-wrapper .intro .info {
    width:1760px;
    display:flex; justify-content:space-between;
    position:absolute; bottom:80px; left:50%; transform:translateX(-50%);
}
#wrap .swiper-wrapper .intro .info p {}
/* ========================================================================================================= 인트로 e */

/* ========================================================================================================= 프로필 s */
#wrap .swiper-wrapper .profile {
    position:relative;
}
#wrap .swiper-wrapper .profile h3 {
    position:absolute; top: 107px; left:167px;
}
/* ------------------------------------------------------------------------------------ 정보 */
#wrap .swiper-wrapper .profile .my-info {
    position:absolute; bottom:125px; left:167px;
    display:flex; flex-flow:column; gap:60px;
}
#wrap .swiper-wrapper .profile .my-info img {
    width:184px; height:184px;
}
#wrap .swiper-wrapper .profile .my-info p {
    font-size:1.875rem;
    font-weight:200;
    line-height:1.5;
}
#wrap .swiper-wrapper .profile .my-info p em {
    font-weight:500;
}
#wrap .swiper-wrapper .profile .my-info dl {}
#wrap .swiper-wrapper .profile .my-info dl dt {
    font-size:1.125rem;
    font-weight:600;
    margin-top:30px;
}
#wrap .swiper-wrapper .profile .my-info dl dt:first-of-type {margin-top:0;}
#wrap .swiper-wrapper .profile .my-info dl dd {
    font-size:0.938rem;
    margin-top:16px;
}
#wrap .swiper-wrapper .profile .my-info dl dd a:hover {
    text-decoration:underline;
}
/* ------------------------------------------------------------------------------------ 커리어 */

#wrap .swiper-wrapper .profile .career-info {
    position:absolute; bottom:125px; right:167px;
    display:flex; flex-flow:row nowrap; gap:120px;
}
/* 공통 */
#wrap .swiper-wrapper .profile .career-info h4 {
    font-weight:600;
    font-size:1.25rem;
    margin-bottom:30px;
}
#wrap .swiper-wrapper .profile .career-info .rignt dl {}
#wrap .swiper-wrapper .profile .career-info dl dt {
    font-size:0.938rem;
}
#wrap .swiper-wrapper .profile .career-info dl dd {
    text-align:right;
    font-size:0.938rem;
    color:#888888;
}

/* left */
#wrap .swiper-wrapper .profile .career-info .left {
    width:300px; height:620px;
    display:flex; flex-flow:column nowrap; justify-content:space-between;
}
#wrap .swiper-wrapper .profile .career-info .left .group {}
#wrap .swiper-wrapper .profile .career-info .left dl {
    display: grid;
    
    row-gap: 25px;
}
#wrap .swiper-wrapper .profile .career-info .left .about-me dl {
    grid-template-columns: 1fr 132px;
}
#wrap .swiper-wrapper .profile .career-info .left .education dl {
    grid-template-columns: 133px 1fr;
}
#wrap .swiper-wrapper .profile .career-info .left .license dl {
    grid-template-columns: 193px 1fr;
}
/* right */
#wrap .swiper-wrapper .profile .career-info .right {
    width:414px; height:620px;
    display:flex; flex-flow:column nowrap; justify-content:space-between;
}
#wrap .swiper-wrapper .profile .career-info .right dl {
    display: grid;

    row-gap: 25px;
}

#wrap .swiper-wrapper .profile .career-info .right .career dl {
    grid-template-columns: 216px 1fr;
}
#wrap .swiper-wrapper .profile .career-info .right .career dl dd:nth-of-type(4) {
    line-height:31px;
}

#wrap .swiper-wrapper .profile .career-info .right .skill dl {
    grid-template-columns: 1fr 280px;
}
#wrap .swiper-wrapper .profile .career-info .right .skill dl dd {
    background:#d9d9d9;
    border-radius:50px;
}
#wrap .swiper-wrapper .profile .career-info .right .skill dl dd .bar {
    height: 14px;
    background:#000;
    border-radius: 50px;
}
/* ========================================================================================================= 프로필 e */

/* ========================================================================================================= 웹사이트 리디자인 s */
#wrap .swiper-wrapper .web-redesign {
    background:url(../images/bg_001.png) no-repeat center;
}
#wrap .swiper-wrapper .web-redesign #redesign {}
#wrap .swiper-wrapper .web-redesign #redesign .swiper-wrapper {}
#wrap .swiper-wrapper .web-redesign #redesign .swiper-slide {
    height: 100vh;
    position:relative;
    /* background:url(../images/bg_001.png) no-repeat center; */
}
#wrap .swiper-wrapper .web-redesign #redesign .swiper-slide .rede-img {
    position:absolute; top:0; right:0;
    width:668px; height:100%;
    background:#3A3A3A;
}
/* 각 프로젝트별 배경 */
#wrap .swiper-wrapper .web-redesign #redesign .rede1 .rede-img {background:url(../images/bg_project_001.jpg);}
#wrap .swiper-wrapper .web-redesign #redesign .rede2 .rede-img {background:url(../images/bg_project_002.jpg);}
#wrap .swiper-wrapper .web-redesign #redesign .rede3 .rede-img {background:url(../images/bg_project_003.jpg);}
#wrap .swiper-wrapper .web-redesign #redesign .rede4 .rede-img {background:url(../images/bg_project_004.jpg);}

#wrap .swiper-wrapper .web-redesign #redesign .swiper-slide .preview {
    position:absolute; right:167px; top:50%; transform:translateY(-50%);
}
#wrap .swiper-wrapper .web-redesign #redesign .swiper-slide .preview img {
    width:786px; height:511px;
}
#wrap .swiper-wrapper .web-redesign #redesign .swiper-slide h3 {
    position:absolute; top: 107px; left:167px;
}
/* ----------------------------------------------------------------------------------------- 작업 컨텐츠 정보 */
#wrap .swiper-wrapper .web-redesign #redesign .swiper-slide .content {
    position:absolute; bottom:125px; left:167px;
    height:562px;
    display:flex; flex-flow:column nowrap; justify-content:space-between;
}
/* text */
#wrap .swiper-wrapper .web-redesign #redesign .swiper-slide .content .text {}
#wrap .swiper-wrapper .web-redesign #redesign .swiper-slide .content .text h2 {
    font-size:3.125rem; font-weight:600;
    margin-bottom:25px;
}
#wrap .swiper-wrapper .web-redesign #redesign .swiper-slide .content .text p {
    font-size:1.25rem; font-weight:300;
}
/* site */
#wrap .swiper-wrapper .web-redesign #redesign .swiper-slide .content .site {
    display:flex;/* a간격 사이에 들어가있는 여백 지우기 위해서 */ gap:21px;
}
#wrap .swiper-wrapper .web-redesign #redesign .swiper-slide .content .site > a {
    padding:0 22px; line-height:48px;
    border-radius:50px;
    border:1px solid #3A3A3A;
    font-size:1.125rem;
}
#wrap .swiper-wrapper .web-redesign #redesign .swiper-slide .content .site > a:nth-child(1) {background:#3A3A3A; color: #fff; font-weight:500;}
/* info */
#wrap .swiper-wrapper .web-redesign #redesign .swiper-slide .content .info {}
#wrap .swiper-wrapper .web-redesign #redesign .swiper-slide .content .info .contribution {
}
#wrap .swiper-wrapper .web-redesign #redesign .swiper-slide .content .info .contribution h5 {
    font-size:1.125rem; font-weight:500;
    margin-bottom:20px;
}
#wrap .swiper-wrapper .web-redesign #redesign .swiper-slide .content .info .contribution p {
    font-size:0.938rem;
}
#wrap .swiper-wrapper .web-redesign #redesign .swiper-slide .content .info dl {
    display: grid;
    width:458px;
    margin-top:28px;
    grid-template-columns: 1fr 312px;
    row-gap: 28px;
}
#wrap .swiper-wrapper .web-redesign #redesign .swiper-slide .content .info dl dt {
    font-size:1.125rem; font-weight:500;
}
#wrap .swiper-wrapper .web-redesign #redesign .swiper-slide .content .info dl dt:nth-of-type(2) {
    line-height:36px;
}
#wrap .swiper-wrapper .web-redesign #redesign .swiper-slide .content .info dl dd {
    font-size:0.938rem;
}
#wrap .swiper-wrapper .web-redesign #redesign .swiper-slide .content .info dl dd:nth-of-type(2) {
    display:flex; align-items:center; gap:10px;
}

/* 방향 기본 디자인 제거 */
#wrap .swiper-wrapper .web-redesign #redesign .swiper-button-prev::after,
#wrap .swiper-wrapper .web-redesign #redesign .swiper-button-next::after {content: none;}
#wrap .swiper-wrapper .web-redesign #redesign .swiper-button-prev {
    background: url('../images/icon_prev.png') no-repeat center / contain;
    width: 40px;
    height: 40px;
}

#wrap .swiper-wrapper .web-redesign #redesign .swiper-button-next {
    background: url('../images/icon_next.png') no-repeat center / contain;
    width: 40px;
    height: 40px;
}

/* ========================================================================================================= 웹사이트 리디자인 e */

/* ========================================================================================================= 배너 디자인 s */
#wrap .swiper-wrapper .design {
    position:relative;
    background:url(../images/bg_001.png) no-repeat center;
}
#wrap .swiper-wrapper .design h3 {
    position:absolute; top: 107px; left:167px;
}
#wrap .swiper-wrapper .design .contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display:flex; gap:20px;
}

#wrap .swiper-wrapper .design .contents .left {}
/* ------------------------ 배너디자인 프로젝트 */
#wrap .swiper-wrapper .design .contents .left .design1-banner {
    width:1170px; height:173px; margin-bottom:20px;
}
#wrap .swiper-wrapper .design .contents .left .design1-banner .swiper-wrapper {}
#wrap .swiper-wrapper .design .contents .left .design1-banner .swiper-wrapper .swiper-slide {
    cursor:pointer;
}
#wrap .swiper-wrapper .design .contents .left .design1-banner .swiper-wrapper .swiper-slide img {
    width: 100%;
}

/* ------------------------sns디자인 프로젝트 */
#wrap .swiper-wrapper .design .contents .left .design2-sns {
    width:1170px; height:370px;/* width는 스와이퍼 보이는 영역 넓이를 잡고 margin은 바깥쪽 여백을 잡은것이다. */
}
/* 중간에 swiper-wrapper생략 */
#wrap .swiper-wrapper .design .contents .left .design2-sns .swiper-wrapper {
    transition-timing-function:linear;/* 일정속도 세팅 */
}
#wrap .swiper-wrapper .design .contents .left .design2-sns .swiper-wrapper .swiper-slide {
    cursor:pointer;/* 눌려지는 것처럼 보이게 손가락 모양이 나옴 */
}
#wrap .swiper-wrapper .design .contents .left .design2-sns .swiper-wrapper .swiper-slide img {
    width: 100%;/* js때문에 겹쳐져있던 이미지들을 보기좋게 정렬해준다 */
}

/* ------------------------상세디자인 프로젝트 */
#wrap .swiper-wrapper .design .contents .right {}
#wrap .swiper-wrapper .design .contents .right .design3-subpage {
    width:396px; height:563px; overflow: hidden;
    background:#3A3A3A;
}
#wrap .swiper-wrapper .design .contents .right .design3-subpage .swiper-wrapper {}
#wrap .swiper-wrapper .design .contents .right .design3-subpage .swiper-wrapper .swiper-slide {
    cursor:pointer;
}
#wrap .swiper-wrapper .design .contents .right .design3-subpage .swiper-wrapper .swiper-slide img {
    width: 100%;
}

/* 디자인팝업 */
.popup_bg {
    position:fixed; left:0; top: 0;/* 1. 위치고정 */
    z-index:999;/* 안겹치도록 위로 올라오게 설정 */
    width:100%; height:100vh;/* 배경 크기설정 */
    background:rgba(0, 0, 0, 0.5);/* 배경색 */
    display:none;/* 처음 안보이는 설정 */
}
.popup_bg .popup {
    width:600px; margin:0 auto;
    height:80vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow:auto;/* 정해진 영역 안에서 보이도록 하면 스크롤이 생긴다. */
}
.popup_bg .popup img {width:100%;}
/* ========================================================================================================= 배너 디자인 e */

/* ========================================================================================================= 게임 디자인 s */
#wrap .swiper-wrapper .game-design {
    background:url(../images/bg_001.png) no-repeat center;
}
#wrap .swiper-wrapper .game-design #game-d {}
#wrap .swiper-wrapper .game-design #game-d .swiper-wrapper {}
#wrap .swiper-wrapper .game-design #game-d .swiper-slide {
    height: 100vh;
    position:relative;
    /* background:url(../images/bg_001.png) no-repeat center; */
}
#wrap .swiper-wrapper .game-design #game-d .swiper-slide .rede-img {
    position:absolute; top:0; right:0;
    width:668px; height:100%;
    background:#3A3A3A;
}
#wrap .swiper-wrapper .game-design #game-d .swiper-slide .preview {
    position:absolute; right:504px; top:50%; transform:translateY(-50%);
}
#wrap .swiper-wrapper .game-design #game-d .swiper-slide .preview img {
    width:329px; height:648px;
}
#wrap .swiper-wrapper .game-design #game-d .swiper-slide h3 {
    position:absolute; top: 107px; left:167px;
}
/* 헥사곤즈 */
#wrap .swiper-wrapper .game-design #game-d .game4 .preview {
    position:absolute; right:287px; top:50%; transform:translateY(-50%);
}
#wrap .swiper-wrapper .game-design #game-d .game4 .preview img {
    width:648px; height:329px;
}
/* ----------------------------------------------------------------------------------------- 작업 컨텐츠 정보 */
#wrap .swiper-wrapper .game-design #game-d .swiper-slide .content {
    position:absolute; bottom:125px; left:167px;
    height:562px;
    display:flex; flex-flow:column nowrap; justify-content:space-between;
}
/* text */
#wrap .swiper-wrapper .game-design #game-d .swiper-slide .content .text {}
#wrap .swiper-wrapper .game-design #game-d .swiper-slide .content .text h2 {
    font-size:3.125rem; font-weight:600;
    margin-bottom:25px;
}
#wrap .swiper-wrapper .game-design #game-d .swiper-slide .content .text p {
    font-size:1.25rem; font-weight:300;
}
/* site */
#wrap .swiper-wrapper .game-design #game-d .swiper-slide .content .site {
    display:flex;/* a간격 사이에 들어가있는 여백 지우기 위해서 */ gap:21px;
}
#wrap .swiper-wrapper .game-design #game-d .swiper-slide .content .site > a {
    padding:0 22px; line-height:48px;
    border-radius:50px;
    border:1px solid #3A3A3A;
    font-size:1.125rem;
}
#wrap .swiper-wrapper .game-design #game-d .swiper-slide .content .site > a:nth-child(1) {background:#3A3A3A; color: #fff; font-weight:500;}
/* info */
#wrap .swiper-wrapper .game-design #game-d .swiper-slide .content .info {}
#wrap .swiper-wrapper .game-design #game-d .swiper-slide .content .info .contribution {
}
#wrap .swiper-wrapper .game-design #game-d .swiper-slide .content .info .contribution h5 {
    font-size:1.125rem; font-weight:500;
    margin-bottom:20px;
}
#wrap .swiper-wrapper .game-design #game-d .swiper-slide .content .info .contribution p {
    font-size:0.938rem;
}
#wrap .swiper-wrapper .game-design #game-d .swiper-slide .content .info dl {
    display: grid;
    width:458px;
    margin-top:28px;
    grid-template-columns: 1fr 312px;
    row-gap: 28px;
}
#wrap .swiper-wrapper .game-design #game-d .swiper-slide .content .info dl dt {
    font-size:1.125rem; font-weight:500;
}
#wrap .swiper-wrapper .game-design #game-d .swiper-slide .content .info dl dt:nth-of-type(1) {
    line-height:36px;
}
#wrap .swiper-wrapper .game-design #game-d .swiper-slide .content .info dl dd {
    font-size:0.938rem;
}
#wrap .swiper-wrapper .game-design #game-d .swiper-slide .content .info dl dd:nth-of-type(1) {
    display:flex; align-items:center; gap:10px;
}

/* 방향 기본 디자인 제거 */
#wrap .swiper-wrapper .game-design #game-d .swiper-button-prev::after,
#wrap .swiper-wrapper .game-design #game-d .swiper-button-next::after {content: none;}
#wrap .swiper-wrapper .game-design #game-d .swiper-button-prev {
    background: url('../images/icon_prev.png') no-repeat center / contain;
    width: 40px;
    height: 40px;
}

#wrap .swiper-wrapper .game-design #game-d .swiper-button-next {
    background: url('../images/icon_next.png') no-repeat center / contain;
    width: 40px;
    height: 40px;
}

/* ========================================================================================================= 게임 디자인 e */

/* ========================================================================================================= 컨택 s */
#wrap .swiper-wrapper .contact {}
#wrap .swiper-wrapper .contact img {}
#wrap .swiper-wrapper .contact .info {
    display:flex; justify-content:center; gap:133px;
    position:absolute; bottom:80px; left:50%; transform:translateX(-50%);
}
#wrap .swiper-wrapper .contact .info p {}
#wrap .swiper-wrapper .contact .info p em {
    font-weight:600;
    font-size:1.125rem;
    margin-right:16px;
}
#wrap .swiper-wrapper .contact .info p span {
    font-size:0.938rem;
}
/* ========================================================================================================= 컨택 e */